# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual environments
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Environment variables
# -----------------------------
.env

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/secrets.toml

# -----------------------------
# Cache
# -----------------------------
cache/
data/gpm_cache/

# ADD
*.pkl

# -----------------------------
# Registry
# -----------------------------
data/reports.db
*.db-journal
*.sqlite-journal

# -----------------------------
# Large GIS / Raster data
# -----------------------------
# ADD
*.tif
*.tiff
*.gpkg
*.geojson
*.vrt
*.aux.xml

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS
# -----------------------------
Thumbs.db
Desktop.ini
.DS_Store

# -----------------------------
# Testing
# -----------------------------
.pytest_cache/

# -----------------------------
# Coverage
# -----------------------------
.coverage
htmlcov/

# -----------------------------
# Build
# -----------------------------
build/
dist/